<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <%= rendered_posts %>
    <% if (!page) { %>
    <tr style="height:10px"></tr>
    <tr><td colspan="2"></td><td class="title"><a class="more">More</a></td></tr>
    <% } %>
  </tbody>
</table>