/* line 11, ../sass/style.scss */
h4 {
  color: #222;
}
/* line 13, ../sass/style.scss */
h4 a:visited {
  color: #828282;
  text-decoration: none;
}
/* line 17, ../sass/style.scss */
h4 a:link {
  color: #828282;
  text-decoration: none;
}

/* line 23, ../sass/style.scss */
a {
  cursor: pointer;
}

/* line 24, ../sass/style.scss */
body {
  margin: 8px;
  padding-bottom: 60px;
}

/* line 29, ../sass/style.scss */
.content {
  height: 800px;
}

/* line 33, ../sass/style.scss */
#popover_content {
  display: none;
}

/* line 37, ../sass/style.scss */
.popover {
  left: 0;
  width: 700px;
  color: #333;
}

/* line 43, ../sass/style.scss */
.popover p > a {
  text-decoration: underline;
}

/* line 47, ../sass/style.scss */
a.more {
  font-family: Verdana;
  font-size: 10pt;
  color: #828282;
}

/* line 53, ../sass/style.scss */
h4 a {
  color: #828282;
}

/* line 57, ../sass/style.scss */
.popover .arrow {
  display: none;
}

/* line 61, ../sass/style.scss */
.popover-title {
  display: none;
}

/* line 65, ../sass/style.scss */
.nav-tabs > li.attribution > a {
  border: none;
}

/* line 69, ../sass/style.scss */
.tab-pane p {
  margin-top: 8px;
  margin-bottom: 12px;
}

/* line 74, ../sass/style.scss */
.attribution {
  color: #bbbbbb;
  text-align: right;
  position: relative;
  right: -15px;
  width: 90px;
  margin-top: 40px;
}
/* line 76, ../sass/style.scss */
.attribution a {
  color: #bbbbbb;
}

/* line 86, ../sass/style.scss */
.top {
  height: 20px;
  padding-right: 9px;
}

/* line 91, ../sass/style.scss */
.ui-slider-horizontal {
  height: .6em;
  margin-top: .1em;
  position: relative;
}
/* line 95, ../sass/style.scss */
.ui-slider-horizontal .ui-slider-handle {
  width: 1em;
  top: -0.3em;
  height: 1em;
  z-index: 20;
}

/* line 104, ../sass/style.scss */
.close {
  top: 20px;
  right: 3px;
}

/* line 110, ../sass/style.scss */
.btn i {
  top: -1px;
  position: relative;
}

/* line 115, ../sass/style.scss */
dd {
  margin-bottom: 6px;
  padding-top: 2px;
}

/* line 120, ../sass/style.scss */
.uparrow {
  visibility: hidden;
}

/* line 124, ../sass/style.scss */
#about {
  width: 10px;
  padding: 0 7px;
}
/* line 127, ../sass/style.scss */
#about a {
  color: white;
}

/* line 132, ../sass/style.scss */
.preload {
  display: none;
}

/* line 136, ../sass/style.scss */
#date {
  min-width: 125px;
  text-align: center;
  float: right;
  margin-right: 21px;
}

/* line 143, ../sass/style.scss */
.spinner {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(/static/rewind/img/ajax-loader.gif);
}

/* line 150, ../sass/style.scss */
.mark, .day, .twohour {
  position: absolute;
  width: 1px;
  height: 9px;
  z-index: 11;
}

/* line 157, ../sass/style.scss */
.day {
  z-index: 12;
  border-right: 1px solid #b6b6b6;
}

/* line 163, ../sass/style.scss */
.twohour {
  border-right: 1px dotted #dddddd;
}
