/* line 10, ../sass/style.scss */
h4 {
  color: #222;
}
/* line 12, ../sass/style.scss */
h4 a:visited {
  color: #828282;
  text-decoration: none;
}
/* line 16, ../sass/style.scss */
h4 a:link {
  color: #828282;
  text-decoration: none;
}

/* line 22, ../sass/style.scss */
a {
  cursor: pointer;
}

/* line 23, ../sass/style.scss */
body {
  margin: 8px;
  padding-bottom: 60px;
}

/* line 28, ../sass/style.scss */
.content {
  height: 800px;
}

/* line 32, ../sass/style.scss */
#popover_content {
  display: none;
}

/* line 36, ../sass/style.scss */
.popover {
  left: 0;
  width: 700px;
  color: #333;
}

/* line 42, ../sass/style.scss */
.popover p > a {
  text-decoration: underline;
}

/* line 46, ../sass/style.scss */
a.more {
  font-family: Verdana;
  font-size: 10pt;
  color: #828282;
}

/* line 52, ../sass/style.scss */
h4 a {
  color: #828282;
}

/* line 56, ../sass/style.scss */
.popover .arrow {
  display: none;
}

/* line 60, ../sass/style.scss */
.popover-title {
  display: none;
}

/* line 64, ../sass/style.scss */
.nav-tabs > li.attribution > a {
  border: none;
}

/* line 68, ../sass/style.scss */
.tab-pane p {
  margin-top: 8px;
  margin-bottom: 12px;
}

/* line 73, ../sass/style.scss */
.attribution {
  color: #bbbbbb;
  text-align: right;
  position: relative;
  right: -15px;
  width: 90px;
  margin-top: 40px;
}
/* line 75, ../sass/style.scss */
.attribution a {
  color: #bbbbbb;
}

/* line 85, ../sass/style.scss */
.top {
  height: 20px;
  padding-right: 9px;
}

/* line 90, ../sass/style.scss */
.ui-slider-horizontal {
  height: .6em;
  margin-top: .1em;
  position: relative;
}
/* line 94, ../sass/style.scss */
.ui-slider-horizontal .ui-slider-handle {
  width: 1em;
  top: -0.3em;
  height: 1em;
  z-index: 20;
}

/* line 103, ../sass/style.scss */
.close {
  top: 20px;
  right: 3px;
}

/* line 109, ../sass/style.scss */
.btn i {
  top: -1px;
  position: relative;
}

/* line 114, ../sass/style.scss */
dd {
  margin-bottom: 6px;
  padding-top: 2px;
}

/* line 119, ../sass/style.scss */
.uparrow {
  visibility: hidden;
}

/* line 123, ../sass/style.scss */
#about {
  width: 10px;
  padding: 0 7px;
}
/* line 126, ../sass/style.scss */
#about a {
  color: white;
}

/* line 131, ../sass/style.scss */
.preload {
  display: none;
}

/* line 135, ../sass/style.scss */
#date {
  min-width: 125px;
  text-align: center;
  float: right;
  margin-right: 21px;
}

/* line 142, ../sass/style.scss */
.spinner {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(/static/rewind/img/ajax-loader.gif);
}

/* line 149, ../sass/style.scss */
.mark, .day, .twohour {
  position: absolute;
  width: 1px;
  height: 9px;
  z-index: 11;
}

/* line 156, ../sass/style.scss */
.day {
  background-color: #bbbbbb;
  z-index: 12;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  width: 1px;
}

/* line 170, ../sass/style.scss */
.twohour {
  background-color: #dddddd;
}
